# Az Vnet Deploy 

trigger:
- none

variables:
  - name: location
    value:  $(location)

parameters:
  - name:  resourceGroupName
    displayName:  resourceGroupName
    type: string
    default:  'JoePOC1'
    values:
      - 'JoePOC1'
      - 'StevePOC1'
#  - name: location
#    displayName: location
#    type:  string
#    default:  'East US 2'
#    values:
#      - 'East US 2'
#      - 'East US'

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
    action: 'Create Or Update Resource Group'
    resourceGroupName: '${{ parameters.resourceGroupName }}'
    location: '${{ variables.location }}'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/a130138/01_TemplateRepo/main/03_AzVnet/template.json'
    csmParametersFileLink:  'https://raw.githubusercontent.com/a130138/01_TemplateRepo/main/03_AzVnet/parameters.json'
    deploymentMode: 'Incremental'