# Title: Azure Firewall Rule Deploy (ARM)
# About:  
# Required:  Update variables section prior to deploy

pool:
    vmIMage: windows-latest
trigger:
    - none
variables:
######################## Azure Info ########################
  - name: AzCategory
    value: AzNetwork
    # Azure Cateogory; i.e. - AzStorage, AzNSG, AzFirewall, etc
  - name: AzItem
    value: AzFirewall
    # Azure Item for category entered; i.e. - AzStorageAccount, AzStorageBlob, etc
  - name: AzRepoFolder
    value: $(System.DefaultWorkingDirectory)\$(AzCategory)\$(AzItem)
    # Azure repo folder path based on AzItem; i.e. - $(System.DefaultWorkingDirectory)\01_$(AzCategory)\01_$(AzItem)
  - name:  AzDestinationFile
    value: $(AzRepoFolder)\01_Deploy\$(AzItem).$(AzRuleName).$(Build.BuildNumber)\azuredeploy.json
    # Json folder setup
######################## Firewall ########################
  - name: AzFwRuleName
    value: AzFwRuleName1
    # name of new Azure item; i.e. - 'azstorageacct'
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:
  - name:
    value:

######################## Json & ARM Variables ########################

  - name: AzTagEnv
    value: POC
    # Azure 'Environment' tag
  - name: AzTagOwn
    value: joe cropper
    # Azure 'Owner' tag
  #- name: AzSkuName
  #  value:
  #- name: AzSkuTier
  #  value:
  - name: AzLoc
    value: East US 2
    # Azure location; i.e. - 'East US 2'
  #- name: AzKind
  #  value:
  - name: AzArmConnection
    value: Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    # Azure ARM connection; i.e. - 'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
  - name: AzRgName
    value: JoePOC1
    # Azure resource group name
######################## Repo Info ########################
  - name: GitRepoBranch
    value: _a130138_01_TemplateRepo
    # Repo branch main/master name; i.e. - '_a130138_01_TemplateRepo'
  - name: GitUserName
    value: a130138_tr1
    # Repo user name; i.e. - 'a130138_tr1'
  - name: GitUserEmail
    value: a130138_tr1@amerisourcebergen.com
    # Repo user email; i.e. - 'a130138_tr1@amerisourcebergen.com'
######################## Credential Persist ########################
steps:
- checkout: self
  persistCredentials: true
  lfs: true
######################## ARM Template - Deployment ########################
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
      # Options: Resource Group, Management Group, Subscription
    azureResourceManagerConnection: $(AzArmConnection)
      # ex - Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    action: Create Or Update Resource Group
      # Options: Create Or Update Resource Group, DeleteRG
    resourceGroupName: $(AzRgName)
      # Azure Resource Group name
    location: $(AzLoc)
      # ex - East US 2
    templateLocation: Linked artifact
      # Options: URL of the file, Linked Artifact
    deploymentMode: Incremental
      # Options:  Incremental, Validation, Complete
    csmFile: '$(Build.Repository.LocalPath)\$(AzCategory)\$(AzItem)\AzFirewallRule\01_Deploy\azuredeploy.json'
      # azuredeploy.json location (ensure using 'raw' URL for github)
