# PowerShell POC

trigger:
- none
pool:
  vmImage: ubuntu-latest
steps:
- task: PowerShell@2
  inputs:
    targetType: inline
    script: |
      $FILE = "TestFile1.txt"
      Get-Date | Out-File $(System.DefaultWorkingDirectory)\$FILE
      Get-Content $(System.DefaultWorkingDirectory)\$FILE
- task: EnableGitRemoteAccess@1
  inputs:
    remoteName: 'main'