# File Transformation POC

trigger:
- none

pool:
  vmImage: ubuntu-latest

variables:
  - name: resources.location
    value:  'East US 2'

steps:
- task: FileTransform@1
  inputs:
    # folderPath: 'D:\a\1\s\'
    folderPath:  '$(System.DefaultWorkingDirectory)/05_FileTransform/'
    targetFiles: '*.json'
    fileType: json

# File transform
# Replace tokens with variable values in XML or JSON configuration files
#- task: FileTransform@1
#  inputs:
    #folderPath: '$(System.DefaultWorkingDirectory)/**/*.zip' 
    #fileType: # Optional. Options: xml, json
    #targetFiles: # Optional