# File Transformation POC

trigger:
- none

pool:
  vmImage: ubuntu-latest

variables:
  - group: JsonVariableGrp
  - name: resources.kind
    value:  '$(kind)'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "Print variable values"
      echo "Value: $(resources.kind)"
- task: FileTransform@1
  displayName: "File Transform Task"
  inputs:
    folderPath:  '$(System.DefaultWorkingDirectory)/05_FileTransform/'
    targetFiles: 'azuredeploy.json'
    fileType: 'json'