# PowerShell POC

trigger:
- none

pool:
  vmImage: windows-latest

steps:
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: (Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt) -replace 'environment', 'POC' | Set-Content $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt
- task: CmdLine@2
  inputs:
    script: |
      git init
      git fetch
      git config --global user.name "a130138"
      git config --global user.email "a130138@amerisourcebergen.com"
      
      git checkout main

      cd $(System.DefaultWorkingDirectory)\05_FileTransform\
      git add NewFile.txt
      git commit -m "NewFile.txt"
      git push
