# File Transformation POC

trigger:
- none

pool:
  vmImage: windows-latest

variables:
  - group: JsonVariableGrp
  - name: resources.kind
    value:  '$(kind)'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "Print variable values"
      echo "Value: $(resources.kind)"
- task: MagicChunks@2
  inputs:
    sourcePath: '$(System.DefaultWorkingDirectory)/05_FileTransform/azuredeploy.json'
    fileType: 'Auto'
    targetPathType: 'source'
    transformationType: 'json'
    transformations: |
      {
        "resources.kind": "Storage",
      }
#- task: FileTransform@1
#  displayName: "File Transform Task"
#  inputs:
#    folderPath:  '$(System.DefaultWorkingDirectory)/05_FileTransform/'
#    targetFiles: 'azuredeploy.json'
#    fileType: 'json'