# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest


steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: Out-File $(System.DefaultWorkingDirectory)\NewFile.txt | Get-Content $(System.DefaultWorkingDirectory)\NewFile.txt