# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest


steps:
- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'GitHub2'
    repositoryName: '$(Build.Repository.Name)'
    action:  edit
    target: '$(Build.SourceVersion)'
    tagSource: 'gitTag'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'
    tag: test
- task: PowerShell@2
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)\05_FileTransform\test2.ps1'