# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest


steps:
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: (Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt) -replace 'environment', 'POC' | Set-Content $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt, $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt
- task: CmdLine@2
  inputs:
    script: |
      echo push to GitHub repo
      git clone https://github.com/a130138/01_TemplateRepo.git
      git config --global user.name "a130138"
      git config --global user.email "a130138@amerisourcebergen.com"
      git checkout master
      git add .
      git commit -m "test comment"
      git push https://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@github.com/a130138/01_TemplateRepo.git