# File Transformation POC

trigger:
- none

pool:
  vmImage: windows-latest

#variables:
# - group: JsonVariableGrp
#  - name: resources.kind
#    value:  '$(kind)'

steps:
#- task: PowerShell@2
#  inputs:
#    targetType: 'inline'
#    script: |
#     echo "Print variable values"
#      echo "Value: $(resources.kind)"

- task: PowerShell@2
  inputs:
      targetType: inline
      # filePath: $(System.DefaultDirectory\05_FileTransform)
      script: |
        Get-Content $System.DefaultDirectory\05_FileTransform\azuredeploy.json
        


#- task: FileTransform@1
#  displayName: "File Transform Task"
#  inputs:
#    folderPath:  '$(System.DefaultWorkingDirectory)/05_FileTransform/'
#    targetFiles: 'azuredeploy.json'
#    fileType: 'json'