# File Transformation POC

trigger:
- none

pool:
  vmImage: ubuntu-latest

variables:
  #- group: JsonVariableGrp
  - name: resources.location
    value:  'East US 2'

steps:
- task: FileTransform@1
  displayName: "File Transform Task"
  inputs:
    folderPath:  '$(System.DefaultWorkingDirectory)/05_FileTransform/azuredeploy.json'
    targetFiles: 'azuredeploy.json'
    fileType: 'json'

# File transform
# Replace tokens with variable values in XML or JSON configuration files
#- task: FileTransform@1
#  inputs:
    #folderPath: '$(System.DefaultWorkingDirectory)/**/*.zip' 
    #fileType: # Optional. Options: xml, json
    #targetFiles: # Optional