# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest

#variables:
#- name: Az1
#  value: $AzTagOwner
#- name: Az2
#  value: jc

steps:
#- task: PowerShell@2
#  inputs:
#    targetType: 'inline'
#    script: (Get-Content -Path $(System.DefaultWorkingDirectory)\05_FileTransform\azuredeploy.json) | foreach{($_.replace('$env','POC'))} | Out-File -FilePath $(System.DefaultWorkingDirectory)\05_FileTransform\azuredeploy.json
    # | Set-Content -Path '$(System.DefaultWorkingDirectory)\05_FileTransform\azuredeploy.json'
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: (Get-Content $(Build.SourcesDirectory)\05_FileTransform\test.txt) -replace 'environment','POC' | Out-File $(Build.SourcesDirectory)\05_FileTransform\NewFile.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(Build.SourcesDirectory)\05_FileTransform\NewFile.txt
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory'
    ArtifactName: 'drop'
    publishLocation: 'Container'
