# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest


steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: Out-File $(System.DefaultWorkingDirectory)\NewFile.txt
     
- task: CmdLine@2
  inputs:
    script:
      git version
      git lfs version
      git init
      git remote add origin https://github.com/a130138/01_TemplateRepo
      git config gc.auto 0
      git config --global user.name "a130138tr1"
      git add $(System.DefaultWorkingDirectory)\NewFile.txt
      git commit -m "test comment"
      git push
      git submodule sync --recursive
      git --config-env=http.https://github.com.extraheader=env_var_http.https://github.com.extraheader submodule update --init --force --depth=1 --recursive