# PowerShell POC

trigger:
- none

pool:
  vmImage: windows-latest

steps:
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: (Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt) -replace 'environment', 'POC' | Set-Content $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt
- task: PowerShell@2
  inputs:
    targetType: inline
    script: Get-Content $(System.DefaultWorkingDirectory)\05_FileTransform\test.txt, $(System.DefaultWorkingDirectory)\05_FileTransform\NewFile.txt