# Variables Replacement - PowerShell

trigger:
- none

pool:
  vmImage: windows-latest

steps:
- task: PowerShell@2
  inputs:
      targetType:  inline
      script:
          $ContentPath = "$(System.DefaultWorkingDirectory)\05_FileTransform\azuredeploy.json"
          $AzTagOwnerVar = "$AzTagOwner"
          $AzTagOwnerUpdate = "jc"
          (Get-Content -Path "$ContentPath") | foreach($_.replace('$AzTagOwnerVar',$AzTagOwnerUpdate)) | Set-Content -Path "$ContentPath"
