# Azure Storage Deploy

trigger:
  - none

variables:
  - group: "AzVarGroupOne"

pool:
  vmImage: windows-latest

steps:

# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: '@@AzScope@@'
      # Options: 'Resource Group', 'Management Group', 'Subscription'
    azureResourceManagerConnection: '@@AzArmConnection@@'
      # ex - 'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
    action: '@@AzAction@@'
      # Options: 'Create Or Update Resource Group', 'DeleteRG'
    resourceGroupName: '@@AzRgName@@'
      # Azure Resource Group name
    location: '@@AzLoc@@'
      # ex - 'East US 2'
    templateLocation: '@@AzURL@@'
      # Options: 'URL of the file', 'Linked Artifact'
    csmFileLink: '@@AzRepoLink@@'
      # azuredeploy.json location (ensure using 'raw' URL for github)
    deploymentMode: '@@AzDeployMode@@'
      # Options:  'Incremental','Validation','Complete'
