# Azure Storage Acct Deploy_V2

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', 'testname' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
# Update Repo
- task: CmdLine@2
  inputs:
    script: |
      git init
      git config --global user.email "a130138_tr1@amerisourcebergen.com"
      git config --global user.name "a130138_tr1"
      git fetch
      git checkout -b main
      git add .
      git commit -m "My commit message"
      git push origin HEAD:main
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(System.DefaultWorkingDirectory)
    artifactName: AzTest
# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
      # Options: Resource Group, Management Group, Subscription
    azureResourceManagerConnection: $(AzArmConnection)
      # ex - Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    action: Create Or Update Resource Group
      # Options: Create Or Update Resource Group, DeleteRG
    resourceGroupName: $(AzRgName)
      # Azure Resource Group name
    location: $(AzLoc)
      # ex - East US 2
    templateLocation: Linked artifact
      # Options: URL of the file, Linked Artifact
    csmFileLink: '$(System.DefaultWorkingDirectory)\01_AzStorage\01_AzStorageAccount\AzStorageAcct.$Timestamp\azuredeploy.json'
    # https://artprodcus3.artifacts.visualstudio.com/A48517179-7da3-444c-8d93-0376087cfebd/e15a61c9-c4e6-4ef5-b07e-9e935950cfb3/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2ExMzAxMzh0cjEvcHJvamVjdElkL2UxNWE2MWM5LWM0ZTYtNGVmNS1iMDdlLTllOTM1OTUwY2ZiMy9idWlsZElkLzc3OS9hcnRpZmFjdE5hbWUvZHJvcA2/content?format=file&subPath=%2Fs%2F01_AzStorage%2F01_AzStorageAccount%2FAzStorageAcct.20221212%2Fazuredeploy.json
    # azuredeploy.json location (ensure using 'raw' URL for github)
    deploymentMode: Incremental
      # Options:  Incremental, Validation, Complete