# Azure Storage Acct Deploy

variables:
- group: "AzVarGroupOne"

trigger:
  - none

pool:
  vmImage: windows-latest

steps:
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      New-Item -Path $Repo -ItemType Directory -Name $AzItem
        Copy-Item $TemplateFile -Destination $Repo\$AzItem

# Insert json variables
- task: PowerShell@2
  inputs:
    targetType: inline
    script: |
      (Get-Content $DestinationFile) | Foreach-Object {
          $_ -replace 'AzName', 'testname' `
              -replace 'AzTagEnv', 'POC' `
              -replace 'AzTagOwn', 'jc' `
              -replace 'AzSkuName', 'Premium_LRS'  `
                    -replace 'AzSkuTier','Premium' `
                    -replace 'AzLoc','East US 2' `
                    -replace 'AzKind','Storage' `
          } | Set-Content $DestinationFile

# Update Repo
- task: CmdLine@2
  inputs:
    script: |
      cd $(System.DefaultWorkingDirectory)\_a130138_01_TemplateRepo
      git init
      git config --global user.email "a130138_tr1@amerisourcebergen.com"
      git config --global user.name "a130138_tr1"
      git fetch
      git checkout -b main
      git add .
      git commit -m "My commit message"
      git push origin HEAD:main

# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
      # Options: Resource Group, Management Group, Subscription
    azureResourceManagerConnection: $(AzArmConnection)
      # ex - Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    action: Create Or Update Resource Group
      # Options: Create Or Update Resource Group, DeleteRG
    resourceGroupName: $(AzRgName)
      # Azure Resource Group name
    location: $(AzLoc)
      # ex - East US 2
    templateLocation: URL of the file
      # Options: URL of the file, Linked Artifact
    csmFileLink: https://raw.githubusercontent.com/a130138/01_TemplateRepo/main/01_AzStorage/01_AzStorageAccount/01_Deploy/azuredeploy.json
      # azuredeploy.json location (ensure using 'raw' URL for github)
    deploymentMode: Incremental
      # Options:  Incremental, Validation, Complete