# Azure Storage Acct Deploy_V2

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', '$(AzName)' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp) -Recurse
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: Container
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      Write-Host "##############"Build Artifact Staging Dir"##################"
      Write-Host "Get-ChildItem $(Build.ArtifactStagingDirectory) -recurse"
      Get-ChildItem $(Build.ArtifactStagingDirectory) -recurse
      Write-Host "###############"System Artifact Dir"#################"
      Write-Host "Get-ChildItem $(System.ArtifactsDirectory)"
      Get-ChildItem $(System.ArtifactsDirectory) -recurse
      Write-Host "###############"Pipeline Workspace"#################"
      Write-Host "Get-ChildItem $(Pipeline.Workspace) -Recurse"
      Get-ChildItem $(Pipeline.Workspace) -Recurse
      Write-Host "###############"Build Sources Dir"#################"
      Write-Host "Get-ChildItem $(Build.SourcesDirectory) -Recurse"
      Get-ChildItem $(Build.SourcesDirectory) -Recurse
      Write-Host "###############"System Default Working Dir"#################"
      Get-ChildItem $(System.DefaultWorkingDirectory) -Recurse
# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
      # Options: Resource Group, Management Group, Subscription
    azureResourceManagerConnection: $(AzArmConnection)
      # ex - Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    action: Create Or Update Resource Group
      # Options: Create Or Update Resource Group, DeleteRG
    resourceGroupName: $(AzRgName)
      # Azure Resource Group name
    location: $(AzLoc)
      # ex - East US 2
    templateLocation: Linked artifact
      # Options: URL of the file, Linked Artifact
    csmFileLink: '$(Pipeline.Workspace)\drop\01_AzStorage\01_AzStorageAccount\$(AzItem).$Timestamp\azuredeploy.json'
      # azuredeploy.json location (ensure using 'raw' URL for github)
    deploymentMode: Incremental
      # Options:  Incremental, Validation, Complete
