# Title:  Azure Storage Acct Deploy_V2
# About:  Create new folder with template file copy, update vars and deploy to Az Portal

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', '$(AzName)' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp) -Recurse
- task: PowerShell@2
  inputs:
    targetType: inline
    failOnStderr: false
    script: |
      Write-Host ######### Build.Repository.LocalPath ##############
      Get-ChildItem $(Build.Repository.LocalPath) -Recurse
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
    subscriptionId: '239c71f8-a24e-41d1-96f6-b4f834a1f615'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'JoePOC1'
    location: 'East US 2'
    templateLocation: 'Linked artifact'
    csmFile: '$(Build.Repository.LocalPath)\01_AzStorage\01_AzStorageAccount\AzStorageAcct.20221214\azuredeploy.json'
      # csmFile: 'D:\a\1\s\01_AzStorage\01_AzStorageAccount\AzStorageAcct.20221214\azuredeploy.json'
    deploymentMode: Validation
      # Options:  Incremental, Validation, Complete