# Azure Storage Acct Deploy_V2

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', '$(AzName)' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp) -Recurse
- task: CopyFiles@2
  inputs:
    Contents:  $(Build.SourcesDirectory)\01_AzStorage\01_AzStorageAccount\AzStorageAcct.20221214\**\*.json
    targetFolder: $(Build.ArtifactStagingDirectory)
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifact: 'drop'
- task: DownloadPipelineArtifact@2
  inputs:
    artifact: 'drop'
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      Write-Host "############### Build Artifact Staging Directory #################"
      Write-Host "Get-ChildItem $(Build.ArtifactStagingDirectory)"
      Get-ChildItem $(Build.ArtifactStagingDirectory) -recurse
# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
    azureResourceManagerConnection: $(AzArmConnection)
    action: Create Or Update Resource Group
    resourceGroupName: $(AzRgName)
    location: $(AzLoc)
    templateLocation: Linked artifact
    csmFileLink: $(Pipeline.Workspace)\drop\01_AzStorage\01_AzStorageAccount\AzStorageAcct.20221214\**\*.json
    deploymentMode: Incremental