# Azure Storage Acct Deploy

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

pool:
  vmImage: windows-latest

steps:
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', 'testname' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)