# Azure Storage Acct Deploy

variables:
- group: "AzVarGroupOne"

trigger:
  - none

pool:
  vmImage: windows-latest

steps:
# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
      # Options: Resource Group, Management Group, Subscription
    azureResourceManagerConnection: $(AzArmConnection)
      # ex - Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)
    action: Create Or Update Resource Group
      # Options: Create Or Update Resource Group, DeleteRG
    resourceGroupName: $(AzRgName)
      # Azure Resource Group name
    location: $(AzLoc)
      # ex - East US 2
    templateLocation: URL of the file
      # Options: URL of the file, Linked Artifact
    csmFileLink: https://raw.githubusercontent.com/a130138/01_TemplateRepo/main/01_AzStorage/01_AzStorageAccount/01_Deploy/azuredeploy.json
      # azuredeploy.json location (ensure using 'raw' URL for github)
    deploymentMode: Incremental
      # Options:  Incremental, Validation, Complete