# Azure Storage Acct Deploy_V2

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', '$(AzName)' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Timestamp) -Recurse
- task: DownloadBuildArtifacts@0
  inputs:
    buildType: current
    downloadType: specific
    itemPattern: 'drop/**.json'
    cleanDestinationFolder: true
    downloadPath: '$(Pipeline.Workspace)'
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      Write-Host "###############"Pipeline Workspace"#################"
      Write-Host "Get-ChildItem $(Pipeline.Workspace)"
      Get-ChildItem $(Pipeline.Workspace) -recurse
# ARM Template - Deployment
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: Resource Group
    azureResourceManagerConnection: $(AzArmConnection)
    action: Create Or Update Resource Group
    resourceGroupName: $(AzRgName)
    location: $(AzLoc)
    templateLocation: Linked artifact
    csmFileLink: $(Pipeline.Workspace)\**\azuredeploy.json
    deploymentMode: Incremental