# Title:  Azure Storage Acct Deploy_V2
# About:  Create new folder with template file copy, update vars and deploy to Az Portal

variables:
- group: "AzVarGroupOne"

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true

# Setup new folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   failOnStderr: false
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Build.BuildNumber)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Build.BuildNumber)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzStorageName@@', '$(AzStorageName)' `
             -replace '@@AzTagEnv@@', '$(AzTagEnv)' `
             -replace '@@AzTagOwn@@', '$(AzTagOwn)' `
             -replace '@@AzSkuName@@', '$(AzSkuName)' `
             -replace '@@AzSkuTier@@','$(AzSkuTier)' `
             -replace '@@AzLoc@@','$(AzLoc)' `
             -replace '@@AzKind@@','$(AzKind)' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
      Get-ChildItem $(AzRepoFolder)\$(AzItem).$(Build.BuildNumber) -Recurse

# Display/Confirm local build repository
- task: PowerShell@2
  inputs:
    targetType: inline
    failOnStderr: false
    script: |
      Write-Host "######### Build Repository Local Path ##############"
      Get-ChildItem $(Build.Repository.LocalPath) -Recurse

# Deploy ARM Template to Azure
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
      # Options:  Resource Group, Management Group, Subscription; cannot use variable(s)
    azureResourceManagerConnection: 'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
      # Format example:  'Dev_Azure_10002_CloudSandbox3(239c71f8-a24e-41d1-96f6-b4f834a1f615)'
    action: 'Create Or Update Resource Group'
      # Options:  DeleteRG, Create or Update Resource Group; cannot use variable(s)
    resourceGroupName: '$(AzRgName)'
      # Azure Resource Group name
    location: '$(AzLoc)'
      # Azure location
    templateLocation: 'Linked artifact'
      # options:  Linked artifact, URL of the file; cannot use variable(s)
    csmFile: '$(Build.Repository.LocalPath)\01_AzStorage\01_AzStorageAccount\AzStorageAcct.$(Build.BuildNumber)\azuredeploy.json'
      # Location of azuredeploy.json; use 'raw' http for github repo
    deploymentMode: Validation
      # Options:  Incremental, Validation, Complete; cannot use variable(s)

# Update Repo
# TBD