# Azure Storage Acct Deploy_V2

variables:
- group: "AzVarGroupOne"

- name: Timestamp
  value: $(Get-Date -Format yyyyMMdd)

trigger:
  - none

name: $(date:yyyyMMdd)$(rev:.r)

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      New-Item -Path $(AzRepoFolder) -ItemType Directory -Name $(AzItem).$(Timestamp)
      Copy-Item $(AzRepoFolder)\$(AzTemplateFolder)\azuredeploy.json -Destination $(AzRepoFolder)\$(AzItem).$(Timestamp)
      (Get-Content $(AzDestinationFileJSON)) | Foreach-Object { 
          $_ -replace '@@AzName@@', '$(AzName)' `
             -replace '@@AzTagEnv@@', 'POC' `
             -replace '@@AzTagOwn@@', 'jc' `
             -replace '@@AzSkuName@@', 'Premium_LRS' `
             -replace '@@AzSkuTier@@','Premium' `
             -replace '@@AzLoc@@','East US 2' `
             -replace '@@AzKind@@','Storage' `
          } | Set-Content $(AzDestinationFileJSON)
      Get-Content $(AzDestinationFileJSON)
- task: CopyFiles@2
  inputs:
    Contents:  $(Build.SourcesDirectory)\s\01_AzStorage\01_AzStorageAccount\$(AzItem).$(Timestamp)\azuredeploy.json
    targetFolder: $(Build.ArtifactStagingDirectory)
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: $(Build.ArtifactStagingDirectory)
    artifactName: AzPipelineArtifact
- task: DownloadPipelineArtifact@2
  inputs:
    artifact: AzPipelineArtifact
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      Write-Host "################################"
      Write-Host "Get-ChildItem ' $(Build.SourcesDirectory)' -recurse"
      Get-ChildItem  $(Build.SourcesDirectory) -recurse
      Write-Host "################################"
      Write-Host "Get-ChildItem ' $(Build.SourcesDirectory)'\01_AzStorage\01_AzStorageAccount\$(AzItem).$(Timestamp)"
      Get-ChildItem  $(Build.SourcesDirectory)\01_AzStorage\01_AzStorageAccount\$(AzItem).$(Timestamp)
      Write-Host "################################"
      Write-Host "Get-ChildItem '$(Build.ArtifactStagingDirectory)' -recurse"
      Get-ChildItem $(Build.ArtifactStagingDirectory) -recurse
      Write-Host "################################"
      Write-Host "Get-ChildItem $(Pipeline.Workspace) -recurse"
      Get-ChildItem $(Pipeline.Workspace) -recurse