# Azure Storage Acct Deploy

variables:
- group: "AzVarGroupOne"
- name: $(BuildDefinitionName)_$(date:yyyyMMdd)$(rev:.r) 

trigger:
  - none

pool:
  vmImage: windows-latest

steps:
# New folder with template file copy
- task: PowerShell@2
  inputs:
   targetType: inline
   script: |
      New-Item -Path $(System.DefaultWorkingDirectory) -ItemType Directory -Name $(AzItem).$(date:yyyyMMdd)
      Copy-Item $(AzTemplateJson) -Destination $(System.DefaultWorkingDirectory)\$(AzItem).$(date:yyyyMMdd)
      Get-ChildItem $(System.DefaultWorkingDirectory)\$(AzItem).$(date:yyyyMMdd)